[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
simple-crypt = "*"
getpass4 = "*"
tabulate = "*"
examples = "*"
prompt = "*"
pyinquirer = "*"

[dev-packages]
unittest2 = "*"

[requires]
python_version = "3.9"

[scripts]
config = "./scripts/install.sh"
try = "./scripts/try.sh"
printfoo = "python -c \"print('foo')\""
